body{
  background: #f9f9f9
}
nav ul{
    list-style: none;
    padding:0;
}
li .active{
    font-weight: bold;
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 450ms ease-in;
  }
  .item-exit {
    opacity: 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .pair_programming{
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
  }